@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#252930 50%, #5372F0 50%);
}
::selection {
  color: #fff;
  background: #5372F0;
}

button {
  border: none;
  outline: none;
  font-size: 20px;
  color: #5372F0;
  padding: 10px 44px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}


@media only screen and (min-width: 768px) {
    button {
        font-size: 30px;
    }
}