:root {
    --primary-color:#fff;
    --secondary-color:#000;
}
.dark-theme {
    --primary-color:#000;
    --secondary-color:#fff;
}
#container {
    background-color: var(--primary-color);
}
#feedback {
    color: var(--secondary-color);
}
#theme {
    color: var(--secondary-color);
}