@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    position: relative;
}


nav {
    width: 100%;
    height: 10vh;
    background: #5c03a5;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: .5em 1em;
    color: #fff;
}

.nav_bag {
    font-size: 2em;
}


/* products section */
.products_title {
    display: grid;
    place-content: center;
    padding: 2em 0;
}

.products_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product {
    height: 19.5em;
    width: 14em;
    margin: 1em 3em;
}

img {
    width: 100%;
    height: 200px;
}

.product_title, .product_price {
    padding: .2em 0;
}

.product_btn {
    text-align: center;
    margin-top: .3em;
}

.product_btn button {
    padding: 10px 20px;
    width: 100px;
    border-radius: .5em;
    border: none;
    background-color: #000;
    color: #fff;
}

.product_btn button:hover {
    background-color: #5c03a5;
}



/* cart section */

.cart_container {
    height: 100vh;
    width: 500px;
    position: fixed;
    background: #eee;
    z-index: 2;
    top: 0;
    bottom: 0;
    overflow: auto;
    right: -500px;
    transition: .5s ease-in;
}

.cart_container.active {
    right: 0;
}

.close_icon {
    position: absolute;
    right: 10;
    top: 10;
    color: gray;
    cursor: pointer;
}

.cart_container_title{
    display: grid;
    place-content: center;
    margin-top: 3em;
}

.cartProduct, .cart_product_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5em 0;
}

.cart_product_img, .cart_product_title {
    margin: 0 .5em;
}

.cart_img {
    width: 30px;
    height: 30px;
}

.bxs-trash-alt {
    font-size: 20px;
}

.bxs-trash-alt:hover {
    color: #f04040;
}

.cart_amount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.decrement, .increment {
    margin: 0 .5em;
    cursor: pointer;
}

.cartTotalPrice {
    text-align: center;
    margin: 2em 0 0 0;
}

.clearCart {
    margin: 2em 0;
    text-align: center;
}
.btn_clear {
    padding: 10px 20px;
    border: none;
    background-color: #f12a2a;
    color: #fff;
    border-radius: 10px;
}

.btn_clear:hover {
    background-color: #ff0000;
}

@media (max-width:768px) {
    .nav_title {
        font-size: 10px;
    }
    .nav_bag {
        font-size: 20px;
    }
    .items {
        font-size: 15px;
    }
    .cart_container {
        width: 330px;
    }
    .cart_product_title, .cart_product_price {
        font-size: 13px;
    }
}